.add-img {
    margin-top: 50px;
    text-align: center;
}
.add-img button {
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: rgb(104, 104, 225);
    font-weight: bold;
    
}

.gall-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.add-img h1 {
    margin-bottom: 50px;
}

.add{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200PX;
    /* justify-content: spa ce-between; */
    margin-left:43%;
    /* text-align: center; */
    
    
}

.inp1{
    padding: 10px ;
    text-align: center;
    border-radius: 10px;

}

.inp2{
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}